@import "tailwindcss";

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;  /* For Internet Explorer */
    scrollbar-width: none;  /* For Firefox */
}

.outlined-text {
    -webkit-text-stroke: 2px rgb(211, 211, 211); /* Outline thickness and color */
    font-weight:700;
  }